body { 
    margin-right: 30px;
    margin-left: 30px;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
}
#my_position, #my_inventory {
    color: #1692da;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0 20px;
}
#status {
    margin-top: 8px;
    padding: 10px 20px 8px 20px;
    border: 3px solid white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1692da;
    color: white;
    letter-spacing: 0.5px;
    word-spacing: 3px;
}

#status > span {
    margin-right: 20px;
}

#inven_item {
    padding: 6px;
    color: #1692da;
    font-weight: bold;

}
#game {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 30px;
}

#content {
    margin-left: 50px;
    margin-right: 50px;
}

#event_title {
    font-weight: bold;
}

#lost_item, #battle_content_1, #battle_content_2 {
    font-style: oblique;
}

#ending_title {
    width: 100%;
    font-size: 50px;
    font-style: bold;
    margin: 0 auto;
}

#ending_description1, #ending_description2, #ending_description3, #ending_description4 {
    width: 100%;
    margin: 0 auto;
}

#ending_description5 {
    width: 100%;
    margin: 0 auto;
    font-style: oblique;
}

.arrow {
    background: #1692da; position:relative;
    width: 90px;
    height: 90px;
    font-size: 60px;
    transform: rotate(45deg);
    color: white;
    border-color: white;
}
.arrow2 {
    background: #1692da; position:relative;
    width: 90px;
    height: 90px;
    font-size: 20px;
    bottom: 170px;
    right: 210px;
    position: fixed;
    border-radius: 35px;
    z-index: 1;
    color: white;
    border-color: white;
}

.arrow.east {
    position: fixed; bottom: 170px; right: 130px;
    
}
.arrow.west {
    position: fixed; bottom: 170px; right: 290px;
}
.arrow.south {
    position: fixed; bottom: 90px; right: 210px;
}
.arrow.north {
    position: fixed; bottom: 250px; right: 210px;
}
